<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e9f29a91c1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="icon" href="../src/assets/favicon.png">
    <title>Usecorp</title>
</head>
<body>
    
    

    <!-- ============= HEADER/NAVBAR LOGIN ================ -->
  <div id="header" class="nav-secondary nav-alternative">
      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="../views/index.html">
                <img src="../src/assets/logotipo1.svg">
            </a>
        </nav>
      </div>
  </div>
  <!-- ============= //HEADER/NAVBAR LOGIN ================ -->

<!-- ============= HEADER/NAVBAR ================ -->

<!-- ============= //HEADER/NAVBAR ================ -->




  <!-- 404 CONTAINER -->
  <div id="error">
    <div class="container-fluid container-main">
      <div class="row row-main align-self-center text-center">
        <i class="fas fa-exclamation-triangle"></i>
        <h3>Página não encontrada.</h3>
        <p>Para retornar à página principal <a href="../views/index.html">clique aqui</a> ou no logo da <b>Usecorp.</b></p>
      </div>
    </div>
    <div class="dots1">
      <img src="../src/assets/dots-login.png" class="img-fluid">
    </div>
    <div class="dots2">
      <img src="../src/assets/dots-login.png" class="img-fluid">
    </div>
  </div>
  <!-- 404 CONTAINER -->

  
  <!-- =============== SEÇÃO CONTATO ================ -->
  <div id="contato">
    <div class="container container-main">
      <div class="row row-main">
        <div class="col-sm-5 col-main text-contato">
          <h2>Contato</h2>
          <p>usecorp@usecorp.co</p>
          <p>+55 11  97112-7233</p>
          <p>Rua Dr. Antônio Bento, Nº 560 conjunto 704<br>
            Alto da Boa Vista<br>
            São Paulo/SP, CEP 04.750-001</p>
          <div class="d-inline-block">
            <a href="https://www.linkedin.com/company/usecorp-co/">
              <img src="../src/assets/Vector.svg" class="img-fluid">
            </a>
            <a href="https://www.instagram.com/usecorp.co/">
              <img src="../src/assets/Artwork 8 2.svg" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-sm-5 col-main form-contato">
          <form>
            <input type="text" name="name" class="form-control" placeholder="nome">
            <input type="email" name="email" class="form-control" placeholder="e-mail">
            <input type="tel" name="tel" class="form-control" placeholder="tel: (00) 00000-0000">
            <textarea name="mensagem" class="form-control" cols="30" rows="5" placeholder="digite aqui sua mensagem"></textarea>
            <button type="submit" class="btn btn-primary button button-secondary mb-2">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- ============= //SEÇÃO CONTATO ================ -->

  <!-- =============== RODAPÉ ================ -->
  <div id="rodape">
    <div class="container container-main">
      <div class="row row-main ">
        <div>
          <img src="../src/assets/icone-2.svg" alt="" class="img-fluid">
        </div>
        <div>
          <span><a href="politica-privacidade.html">Política de Privacidade</a> e <a href="termos.html">Termos e Condições de Uso</a>.</span>
        </div>
      </div>
    </div>
  </div>
  <!-- =============== RODAPÉ ================ -->

    <!-- =============== SCROLL BUTTON ================ -->
    <div id="btn-scroll">
      <a class="btn btn-scroll-up"><i class="fas fa-chevron-up"></i></a>
    </div>
    <!-- ============= //SCROLL BUTTON ================ -->


    
    <!-- ======== JQUERY ========= -->
    <script src="../src/js/jquery-2.2.2.min.js"></script>
    <!-- ======== //JQUERY ========= -->

    <!-- ======== JS BOOTSTRAP ========= -->
    <!-- <script src="../src/js/popper.min.js"></script> -->
    <script src="../src/js/bootstrap.min.js"></script>
    <!-- ======== //JS BOOTSTRAP ========= -->

   

    <script src="../src/js/main.js"></script>

    
</body>
</html>