<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="../src/css/owl/owl.theme.default.css">
    <script src="https://kit.fontawesome.com/e9f29a91c1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="icon" href="../src/assets/favicon.png">
    <title>Usecorp</title>
</head>
<body>
    
    <!-- ============= HEADER/NAVBAR ================ -->
    <div id="header" class="navbar-default nav-primary transparent">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="../src/assets/logotipo_branco1.svg">
          </a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link" href="#users">Quem Somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#solucoes">Soluções</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contato">Contato</a>
            </li>
            <li class="nav-item">
              <a class="btn button button-primary-outline btn-login" href="login.html">login</a>
            </li>
            <li class="nav-item">
              <a class="btn button button-secondary btn-cadastro" href="cadastro.html">crie sua conta</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
      </div><!-- /.container-fluid -->
    </div>
    <!-- ============= //HEADER/NAVBAR ================ -->
  








    <!-- ============= SLIDER ================ -->
    <div id="banner-principal">
      
      <div class="layer">
        
        
      <div class="container container-main">
        <div class="row row-main">
          <div class="col-sm-6 col-main align-self-center texto">
            <h1 class="">O futuro passa <br>pelo uso das coisas</h1>
            <p class="">Escolha o bem ou serviço que sua empresa precisa e a mensalidade que cabe no seu orçamento, o resto nós fazemos por você</p>
            <p class="">Intermediamos o pagamento ao seu fornecedor e você usa, tudo de forma digital.</p>
            <a href="https://play.google.com/store/apps/details?id=juntos.campus.usecorp" target="_blank" class="btn btn-primary button button-secondary ">Faça download do app no Google Play</a>
          </div>
          <div class="col-sm-6 col-main align-self-center text-center">
            
          </div>
        </div>
      </div>
      <div class="dots1">
        <img src="../src/assets/dots2 1.png" alt="" class="img-fluid">
      </div>
      <div class="dots2">
        <img src="../src/assets/dots2 1.png" alt="" class="img-fluid">
      </div>
    </div>
    
    </div>
    <!-- ============= //SLIDER ================ -->

    <!-- ============= SEÇÃO APP ================ -->
    <div id="app" class="block">
      <div class="container container-main">
        <div class="row row-main ">
          <h2 class="col-sm-4 col-main text-end align-self-end">
            App exclusivo para<br>
            acelerar a sua<br>
            empresa
          </h2>
          <div class="col-sm-4 col-main align-self-center text-center">
            <img src="../src/assets/smartphone2-1.png" alt="app" class="img-fluid">
          </div>
          <h2 class="col-sm-4 col-main text-start align-self-end">
            Use a tecnologia a<br>
            favor do seu<br>
            negócio
          </h2>
        </div>
      </div>
    </div>
    <!-- ============= //SEÇÃO APP ================ -->

    <!-- =============== SEÇÃO USERS ================ -->
    <div id="users" class="block">
      <div class="container container-main">
        <div class="row row-main">
          <div class="col-sm-6 col-main align-self-center img-container">
            <img src="../src/assets/img_grupo_usecorp-min.png" class="img-fluid">
          </div>
          <div class="col-sm-6 col-main align-self-center text-users text-center">
            <img src="../src/assets/Vector.png" class="mb-4 img-fluid" >
            <h2 class="mb-4">
              Somos Users!
            </h2>
            <p>
              Acreditamos em uma sociedade onde empreendedores consigam ter acesso ao uso de bens de tecnologia de ponta sempre novos para poderem crescer, conseguindo pagar uma mensalidade de assinatura que caiba no fluxo de caixa, com toda transação sendo digital através de nossa plataforma que conecta milhares de fornecedores.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- ============= //SEÇÃO USERS ================ -->

    <!-- =============== SEÇÃO SIMULE ================ -->
    <div id="simule">
      <div class="full-div">
        <div class="container container-main">
          <div class="content">
            <div class="col-sm-6 col-main align-self-center text-start texto">
              <h2>Use, simule e venda</h2>
              <p>Intermediamos o pagamento entre você e seu cliente, tudo de forma digital.</p>
              <h2><span>Venha inovar com a gente!</span></h2>
            </div>
            <div class="col-sm-6 col-main img">
              <img src="../src/assets/cta2.png" class="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============= //SEÇÃO SIMULE ================ -->

    <!-- =============== SEÇÃO SOLUÇÕES ================ -->
    <div id="solucoes">
      <div class="solucao-cliente solucoes-container">
        <div class="cobertura1 cobertura">
          <div></div>
        </div>
      <div class="full-div">
        <div class="container container-main">
          <div class="row row-main">
            <div class="col-sm-5 col-main mb-md-0 mb-5">
              <img src="../src/assets/paraocliente.png" class="img-fluid">
            </div>
            <div class="col-sm-7 col-main align-self-center text-start justify-content-between text-solucoes">
              <div class="owl-carousel owl-theme owl-loaded">
                
                <!-- BLOCO CARROSSEL -->
                <div>
                  <div class="solucao">
                    <p class="info">PARA O CLIENTE</p>
                    <h2><span>Soluções financeiras</span><br>
                      para acesso a bens de tecnologia:</h2>
                    <p><b>Locação</b>: Assinatura de bens de tecnologia</p>
                    <p><b>Leasing financeiro e operacional</b>: Produtos financeiros para aquisição e uso de equipamentos junto de bancos parceiros</p>
                    <p><b>CDC e capital de giro</b>: Linhas de crédito para uso no dia-dia junto de bancos parceiros</p>
                  </div>
                </div>
                
              <!-- 
                  ADD MAIS BLOCOS PARA O CARROSSEL
                <div>
                  <div class="solucao">
                    <p class="info">PARA O CLIENTE</p>
                    <h2><span>Soluções financeiras</span><br>
                      para acesso a bens de tecnologia:</h2>
                    <p><b>Locação</b>: Assinatura de bens de tecnologia</p>
                    <p><b>Leasing financeiro e operacional</b>: Produtos financeiros para aquisição e uso de equipamentos junto de bancos parceiros</p>
                    <p><b>CDC e capital de giro</b>: Linhas de crédito para uso no dia-dia junto de bancos parceiros</p>
                  </div>
                </div> 
              -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============= //SEÇÃO SOLUÇÕES CLIENTE ================ -->
    <div class="fornecedor solucoes-container">
      <div class="cobertura2 cobertura">
        <div></div>
      </div>
      <div class="full-div">
        <div class="container container-main">
          <div class="row row-main">
            <div class="col-sm-7 col-main align-self-center text-end text-solucoes">
              <div class="owl-carousel owl-theme owl-loaded">

                <!-- BLOCO CARROSSEL  -->
                <div>
                  <div class="solucao">
                    <p class="info">PARA O FORNECEDOR</p>
                    <h2>Simulação rápida de mensalidades para os seus clientes:</h2>
                    <a href="https://play.google.com/store/apps/details?id=juntos.campus.usecorp" target="_blank" class="btn btn-primary button button-secondary mb-2">Através do app</a>
                    <a href="https://usecorp.co/login" class="btn btn-primary button button-secondary mb-2">Através da plataforma web</a>
                  </div>
                </div>

              <!--               
                  ADD MAIS BLOCOS PARA O CARROSSEL 
                <div>
                  <div class="solucao">
                    <p class="info">PARA O FORNECEDOR</p>
                    <h2>Simulação rápida de mensalidades para os seus clientes:</h2>
                    <a href="https://play.google.com/store/apps/details?id=juntos.campus.usecorp" class="btn btn-primary button button-secondary mb-2">Através do app</a>
                    <a href="https://usecorp.co/login" class="btn btn-primary button button-secondary mb-2">Através da plataforma web</a>
                  </div>
                </div> 
              -->
                
              </div>
            </div>

            <div class="col-sm-5 col-main mt-md-0 mt-5">
              <img src="../src/assets/paraofornecedor.png" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- =============== SEÇÃO SOLUÇÕES FORNECEDOR ================ -->

    <!-- ============= //SEÇÃO SOLUÇÕES ================ -->
    </div>

    <!-- =============== SEÇÃO DEPOIMENTOS ================ -->
    <div id="depoimentos">  
      <div class="container-fluid">
        <div class="row row-main">
          <div class="col-sm-5 text-depoimento">
            <div class="texto">
              <h2 class="text-start">Quer ser User e fazer parte disso?</h2>
              <a href="https://usecorp.co/signup" class="btn btn-primary button button-primary mb-2">Vem pro time!</a>
            </div>
          </div>

          <div class="col-sm-7 col-12 col-main img-depoimento text-center">
            <div class="col-sm-8 col-12 elementos-depoimento">
              <div class="owl-carousel owl-theme owl-loaded carousel-depoimentos">

                <div>
                  <div class="depoimento">
                    <img src="../src/assets/thiago.jpg" alt="Depoimento" class="img-fluid">
                    <div class="depoimentos-texto">
                      <h4>Thiago Rocha</h4>
                      <p><span>Founder & CEO</span></p>
                    </div>
                  </div>
                </div>
                
                <div>
                  <div class="depoimento">
                    <img src="../src/assets/julio.jpg" alt="Depoimento" class="img-fluid">
                    <div class="depoimentos-texto">
                      <h4>Julio Cesar Cosmo</h4>
                      <p><span>Co-founder & CTO</span></p>
                    </div>
                  </div>
                </div>
                
                <div>
                  <div class="depoimento">
                    <img src="../src/assets/amarilis.jpg" alt="Depoimento" class="img-fluid">
                    <div class="depoimentos-texto">
                      <h4>Amarilis Marques Lamin</h4>
                      <p><span>Analista de Operações </span></p>
                    </div>
                  </div>
                </div>
                
                <div>
                  <div class="depoimento">
                    <img src="../src/assets/w-tadeu.jpg" alt="Depoimento" class="img-fluid">
                    <div class="depoimentos-texto">
                      <h4>W. Tadeu Gardenghi</h4>
                      <p><span>Co-founder & CSO</span></p>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="depoimento">
                    <img src="../src/assets/levi.jpg" alt="Depoimento" class="img-fluid">
                    <div class="depoimentos-texto">
                      <h4>Levi Castro Júnior</h4>
                      <p><span>Co-founder & CFO</span></p>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            </div>
          </div>
           
        </div>
      </div>
  
    <!-- ============= //SEÇÃO DEPOIMENTOS ================ -->


     <!-- =============== SEÇÃO CONTATO ================ -->
     <div id="contato">
      <div class="container container-main">
        <div class="row row-main">
          <div class="col-sm-5 col-main text-contato">
            <h2>Contato</h2>
            <p>usecorp@usecorp.co</p>
            <p>+55 11  97112-7233</p>
            <p>Rua Dr. Antônio Bento, Nº 560 conjunto 704<br>
              Alto da Boa Vista<br>
              São Paulo/SP, CEP 04.750-001</p>
            <div class="d-inline-block">
              <a href="https://www.linkedin.com/company/usecorp-co/" target="_blank">
                <img src="../src/assets/Vector.svg" class="img-fluid">
              </a>
              <a href="https://www.instagram.com/usecorp.co/" target="_blank">
                <img src="../src/assets/Artwork 8 2.svg" class="img-fluid">
              </a>
            </div>
          </div>
          <div class="col-sm-5 col-main form-contato">
            <form>
              <input type="text" name="name" class="form-control" placeholder="nome">
              <input type="email" name="email" class="form-control" placeholder="e-mail">
              <input type="tel" name="tel" class="form-control" placeholder="tel: (00) 00000-0000">
              <textarea name="mensagem" class="form-control" cols="30" rows="5" placeholder="digite aqui sua mensagem"></textarea>
              <button type="submit" class="btn btn-primary button button-secondary mb-2">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- ============= //SEÇÃO CONTATO ================ -->
  
    <!-- =============== RODAPÉ ================ -->
    <div id="rodape">
      <div class="container container-main">
        <div class="row row-main ">
          <div>
            <img src="../src/assets/icone-2.svg" alt="" class="img-fluid">
          </div>
          <div>
            <span><a href="politica-privacidade.html">Política de Privacidade</a> e <a href="termos.html">Termos e Condições de Uso</a>.</span>
          </div>
        </div>
      </div>
    </div>
    <!-- =============== RODAPÉ ================ -->


    <!-- =============== SCROLL BUTTON ================ -->
    <div id="btn-scroll">
      <a class="btn btn-scroll-up" href="#"><i class="fas fa-chevron-up"></i></a>
    </div>
    <!-- ============= //SCROLL BUTTON ================ -->



    <!-- ======== JQUERY ========= -->
    <script src="../src/js/jquery-2.2.2.min.js"></script>
    <!-- <script src="../src/js/jquery.min.js"></script> -->
    <!-- ======== //JQUERY ========= -->

    <!-- ======== JS BOOTSTRAP ========= -->
    <!-- <script src="../src/js/popper.min.js"></script> -->
    <script src="../src/js/bootstrap.min.js"></script>
    <!-- ======== //JS BOOTSTRAP ========= -->

   
    
    <!-- ======== OWL CAROUSEU ========= -->
    <script src="../src/js/owl.carousel.min.js"></script>
    <!-- ======== //OWL CAROUSEU ========= -->
    
    <script src="../src/js/main.js"></script>
    <script src="../src/js/carousel.js"></script>
    
</body>
</html>