<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e9f29a91c1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="icon" href="../src/assets/favicon.png">
    <title>Usecorp</title>
</head>
<body>
    
    

    <!-- ============= HEADER/NAVBAR LOGIN ================ -->
    <div id="header" class="nav-secondary nav-alternative">
      <div class="container container-main">
          <nav class="navbar navbar-expand-lg navbar-light nav-central">
            <a class="navbar-brand" href="../views/index.html">
                <img src="../src/assets/logotipo1.svg">
            </a>
            <a class="btn button button-primary-outline btn-login btn-app" href="https://play.google.com/store/apps/details?id=juntos.campus.usecorp" target="_blank">
              <div>
                <i class="fab fa-google-play"></i>
              </div>
              <div>
                <span>Disponível no</span>
                <span class="d-block"><b>GOOGLE PLAY</b></span>
              </div>
            </a>
        </nav>
      </div>
    </div>
    <!-- ============= //HEADER/NAVBAR LOGIN ================ -->


  <!-- =============== LOGIN ================ -->
  <div id="login">
    <div class="container container-main">
      <div id="form-login" class="row form-container">
        <div id="div-login" class="row">
        <h2>Login</h2>
        <p class="mb-4">Informe sua credencial e selecione o perfil para acessar o sistema</p>
        <div>
          <form>
            <div class="d-flex">
              <div class="separador separador01"></div>
              <input type="email" name="email" class="form-control" placeholder="usecorp@usecorp.com.br">
            </div>
            <div class="d-flex">
              <div class="separador separador02"></div>
              <input type="password" name="tel" class="form-control" placeholder="Senha">
            </div>
            
            <p id="btn-esqueceusenha"><a>Esqueceu sua senha?</a></p>
            <button type="submit" class="btn btn-primary button button-primary">Entrar</button>
          </form>
        </div>
        <div class="cadastre-se d-flex">
          <p>Novo usuário?</p>
          <a><p>Cadastre-se :)</p></a>
        </div>
      </div>
        <div id="div-recpassword" class="row" style="display: none;">
          <h2>Esqueceu a Senha?</h2>
          <p class="mb-4">Informe o e-mail que você utiliza para acessar o <b>Usecorp</b>.</p>
          <div>
            <form>
              <div class="d-flex">
                <div class="separador separador01"></div>
                <input type="email" name="email" class="form-control" placeholder="usecorp@usecorp.com.br">
              </div>
              <p id="btn-voltarlogin"><a>Voltar</a></p>
              <button type="submit" class="btn btn-primary button button-primary">Enviar</button>
            </form>
          </div>
          <div class="cadastre-se d-flex">
            <p>Novo usuário?</p>
            <a href="../views/cadastro.html"><p>Cadastre-se :)</p></a>
          </div>
        </div>
        
      </div>
      <div id="app-login" class="row row-main form-container text-center justify-content-center">
        <h5>Baixe o aplicativo <b>UseCorp</b> para realizar o login na plataforma.</h5>
        <a class="btn button button-primary-outline btn-login btn-app" href="https://play.google.com/store/apps/details?id=juntos.campus.usecorp" target="_blank">
          <div>
            <i class="fab fa-google-play"></i>
          </div>
          <div>
            <span>Disponível no</span>
            <span class="d-block"><b>GOOGLE PLAY</b></span>
          </div>
        </a>
      </div>

    </div>
    <div class="dots1">
      <img src="../src/assets/dots-login.png" class="img-fluid">
    </div>
    <div class="dots2">
      <img src="../src/assets/dots-login.png" class="img-fluid">
    </div>
  </div>
  <!-- ============= //LOGIN ================ -->


  <!-- =============== SEÇÃO CONTATO ================ -->
  <div id="contato">
    <div class="container container-main">
      <div class="row row-main">
        <div class="col-sm-5 col-main text-contato">
          <h2>Contato</h2>
          <p>usecorp@usecorp.co</p>
          <p>+55 11  97112-7233</p>
          <p>Rua Dr. Antônio Bento, Nº 560 conjunto 704<br>
            Alto da Boa Vista<br>
            São Paulo/SP, CEP 04.750-001</p>
          <div class="d-inline-block">
            <a href="https://www.linkedin.com/company/usecorp-co/">
              <img src="../src/assets/Vector.svg" class="img-fluid">
            </a>
            <a href="https://www.instagram.com/usecorp.co/">
              <img src="../src/assets/Artwork 8 2.svg" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-sm-5 col-main form-contato">
          <form>
            <input type="text" name="name" class="form-control" placeholder="nome">
            <input type="email" name="email" class="form-control" placeholder="e-mail">
            <input type="tel" name="tel" class="form-control" placeholder="tel: (00) 00000-0000">
            <textarea name="mensagem" class="form-control" cols="30" rows="5" placeholder="digite aqui sua mensagem"></textarea>
            <button type="submit" class="btn btn-primary button button-secondary mb-2">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- ============= //SEÇÃO CONTATO ================ -->

  <!-- =============== RODAPÉ ================ -->
  <div id="rodape">
    <div class="container container-main">
      <div class="row row-main ">
        <div>
          <img src="../src/assets/icone-2.svg" alt="" class="img-fluid">
        </div>
        <div>
          <span><a href="politica-privacidade.html">Política de Privacidade</a> e <a href="termos.html">Termos e Condições de Uso</a>.</span>
        </div>
      </div>
    </div>
  </div>
  <!-- =============== RODAPÉ ================ -->


  <!-- =============== SCROLL BUTTON ================ -->
  <div id="btn-scroll">
    <a class="btn btn-scroll-up"><i class="fas fa-chevron-up"></i></a>
  </div>
  <!-- ============= //SCROLL BUTTON ================ -->


  <!-- ======== JQUERY ========= -->
  <script src="../src/js/jquery-2.2.2.min.js"></script>
  <!-- ======== //JQUERY ========= -->

  <!-- ======== JS BOOTSTRAP ========= -->
  <script src="../src/js/bootstrap.min.js"></script>
  <!-- ======== //JS BOOTSTRAP ========= -->



  <script src="../src/js/main.js"></script>
    
</body>
</html>