<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e9f29a91c1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="icon" href="../src/assets/favicon.png">
    <title>Usecorp</title>
</head>
<body>
    
    

  <!-- ============= HEADER/NAVBAR LOGIN ================ -->
  <div id="header" class="nav-secondary nav-alternative">
    <div class="container container-main">
        <nav class="navbar navbar-expand-lg navbar-light nav-central">
          <a class="navbar-brand" href="../views/index.html">
              <img src="../src/assets/logotipo1.svg">
          </a>
          <a class="btn button button-primary-outline btn-login btn-app" href="https://play.google.com/store/apps/details?id=juntos.campus.usecorp" target="_blank">
            <div>
              <i class="fab fa-google-play"></i>
            </div>
            <div>
              <span>Disponível no</span>
              <span class="d-block"><b>GOOGLE PLAY</b></span>
            </div>
          </a>
      </nav>
    </div>
  </div>
  <!-- ============= //HEADER/NAVBAR LOGIN ================ -->

    <!-- ============= POLÍTICA DE PRIVACIDADE ================ -->
    <div id="politica-termos">
        <div class="container">
            <div class="row row-main">
                <h2>Política de Privacidade</h2>
                <p>
                    Sua privacidade é muito importante para nós e estamos comprometidos em mantê-la enquanto você utiliza o aplicativo USECORP. Esta POLÍTICA DE PRIVACIDADE destaca o tipo de informação que podemos coletar enquanto você utiliza o aplicativo e como utilizamos essa informação. Quando você fornece voluntariamente uma informação pessoal, tal como seu nome, endereço ou endereço do e-mail, tratamos esta informação confidencialmente. Nenhuma informação pessoal é alugada, vendida, afixada publicamente ou compartilhada com outras companhias ou organizações. Esse é nosso compromisso com a sua privacidade
                    <br><br>
                    <b>1. TERMOS GERAIS</b>
                    <br><br>
                    Estes termos de uso se aplicam a todos os serviços oferecidos pela COSMO SOFTWORKS DESENVOLVIMENTO DE SOFTWARES LTDA, pessoa jurídica de direito privado com sede na Avenida Fernando Costa, n.° 558, Centro, na Cidade de Itanhandu, Estado de Minas Gerais, inscrita no CNPJ/MF sob n.º 23.171.476/0001-90, proprietária e responsável pela operação do aplicativo USECORP, nestes termos simplesmente denominado 'USECORP'. O USECORP e o USUÁRIO, celebram a presente POLÍTICA DE PRIVACIDADE – doravante denominada POLÍTICA DE PRIVACIDADE, que define as condições pelas quais o USUÁRIO poderá acessar e utilizar as funcionalidades do sistema de propriedade do USECORP (o 'PORTAL/APLICATIVO'), disponibilizado em ambiente web e seu uso limitado às presentes condições de licenciamento, sendo USECORP e USUÁRIO doravante denominados Partes.
                    <br><br>
                    <b>2. USO DAS INFORMAÇÕES</b>
                    <br><br>
                    Navegando no aplicativo USECORP, o USUÁRIO concorda com os termos da versão mais recente desta POLÍTICA DE PRIVACIDADE. Leia por favor nossos TERMOS DE USO a fim de compreender as regras gerais sobre uso deste aplicativo e estar de acordo com estas regras.
                    <br><br>
                    Exceto como escrito em todos os outros disclaimers, em políticas, em termos do uso, ou em outras observações no aplicativo USECORP, nesta POLÍTICA DE PRIVACIDADE e nos TERMOS DE USO são de acordo completo entre USUÁRIO e o USECORP, com respeito à seu uso neste aplicativo.
                    <br><br>
                    <b>2.1</b> O USUÁRIO concorda que os dados por ele fornecidos ou coletados pelo USECORP poderão ser utilizados para melhorar a experiência do produto.
                    <br><br>
                    <b>2.2</b> O USECORP reserva-se o direito de utilizar as informações pessoais e de coordenadas do seu rastreador GPS, tais como: velocidade, altitude, posição e hora atual para ações de marketing do produto, bem como de utilizar as informações consideradas de caráter genérico (sexo, idade, profissão, naturalidade etc.) com o objetivo de gerar estatísticas ou de melhorar a comunicação com os USUÁRIOS do USECORP.
                    <br><br>
                    <b>2.3</b> O USECORP somente divulgará as informações do usuário quando expressamente autorizada por ele próprio, ou por pessoa devidamente autorizada a fazê-lo, ou por ordem judicial, ou por força de lei.
                    <br><br>
                    <b>2.4</b> O USUÁRIO reconhece e concorda que a obtenção e o uso, por parte do USECORP, das informações por ele fornecidas conforme disposto nesta POLÍTICA DE PRIVACIDADE não configura nenhuma violação do direito a privacidade, publicidade ou qualquer outro direito relacionado à proteção de informações pessoais.
                    <br><br>
                    <b>2.5</b> Os conteúdos (texto, arquivo, imagem, som) e os aplicativos (programa, sistema) do USECORP são protegidos pelos direitos autorais, sendo vedada modificação, reprodução, armazenamento, transmissão, cópia, distribuição ou qualquer forma de utilização diversa da finalidade a que se destina, comercial ou não, das informações, dados e imagens nele divulgados, sem autorização da COSMO SOFTWORKS DESENVOLVIMENTO DE SOFTWARES LTDA.
                    <br><br>
                    <b>2.6</b> Nosso aplicativo não captura e nem envia sua lista de contatos do telefone ou dados armazenados em seu dispositivo móvel.
                    <br><br>
                    <b>3. ALTERAÇÕES NA POLÍTICA DE PRIVACIDADE</b>
                    <br><br>
                    Nos reservamos ao direito de adicionar, apagar ou modificar esta POLÍTICA DE PRIVACIDADE sem qualquer aviso prévio. Seu uso e acesso ao aplicativo representa na sua aceitação e concordância com as nossas regras.
                    <br><br>
                    A última atualização nesta POLÍTICA DE PRIVACIDADE foi 20 de Janeiro de 2020.
                </p>
            </div>
        </div>
    </div>
    <!-- ============= //POLÍTICA DE PRIVACIDADE ============== -->



    <!-- =============== SEÇÃO NEWSLETTER ================ -->
    <div id="newsletter">
    <div class="container">
        <div class="row row-main text-center newsletter-form">
        <h2>Newsletter</h2>
        <p>Fique por dentro e descubra as vantagens do aluguel de equipamentos!</p>
        <form>
            <div class="d-md-flex justify-content-center align-items-center">
            <input type="email" name="email" class="form-control me-md-2" placeholder="coloque aqui o seu melhor email :)">
            <button type="submit" class="btn btn-primary button button-primary">Enviar</button>
            </div>
        </form>
        
        </div>
    </div>
    </div>
    <!-- ============= //SEÇÃO NEWSLETTER ================ -->


     <!-- =============== SEÇÃO CONTATO ================ -->
    <div id="contato">
      <div class="container container-main">
        <div class="row row-main">
          <div class="col-sm-5 col-main text-contato">
            <h2>Contato</h2>
            <p>usecorp@usecorp.co</p>
            <p>+55 11  97112-7233</p>
            <p>Rua Dr. Antônio Bento, Nº 560 conjunto 704<br>
              Alto da Boa Vista<br>
              São Paulo/SP, CEP 04.750-001</p>
            <div class="d-inline-block">
              <a href="https://www.linkedin.com/company/usecorp-co/">
                <img src="../src/assets/Vector.svg" class="img-fluid">
              </a>
              <a href="https://www.instagram.com/usecorp.co/">
                <img src="../src/assets/Artwork 8 2.svg" class="img-fluid">
              </a>
            </div>
          </div>
          <div class="col-sm-5 col-main form-contato">
            <form>
              <input type="text" name="name" class="form-control" placeholder="nome">
              <input type="email" name="email" class="form-control" placeholder="e-mail">
              <input type="tel" name="tel" class="form-control" placeholder="tel: (00) 00000-0000">
              <textarea name="mensagem" class="form-control" cols="30" rows="5" placeholder="digite aqui sua mensagem"></textarea>
              <button type="submit" class="btn btn-primary button button-secondary mb-2">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- ============= //SEÇÃO CONTATO ================ -->

  <!-- =============== RODAPÉ ================ -->
  <div id="rodape">
    <div class="container container-main">
      <div class="row row-main ">
        <div>
          <img src="../src/assets/icone-2.svg" alt="" class="img-fluid">
        </div>
        <div>
          <span><a href="politica-privacidade.html">Política de Privacidade</a> e <a href="termos.html">Termos e Condições de Uso</a>.</span>
        </div>
      </div>
    </div>
  </div>
  <!-- =============== RODAPÉ ================ -->


    <!-- =============== SCROLL BUTTON ================ -->
    <div id="btn-scroll">
      <a class="btn btn-scroll-up"><i class="fas fa-chevron-up"></i></a>
    </div>
    <!-- ============= //SCROLL BUTTON ================ -->


    <!-- ======== JQUERY ========= -->
    <script src="../src/js/jquery-2.2.2.min.js"></script>
    <!-- ======== //JQUERY ========= -->

    <!-- ======== JS BOOTSTRAP ========= -->
    <script src="../src/js/bootstrap.min.js"></script>
    <!-- ======== //JS BOOTSTRAP ========= -->

   

    <script src="../src/js/main.js"></script>
    
</body>
</html>