<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e9f29a91c1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="icon" href="../src/assets/favicon.png">
    <title>Usecorp</title>
</head>
<body>
    
    
    <!-- ============= HEADER/NAVBAR LOGIN ================ -->
  <div id="header" class="nav-secondary nav-alternative">
    <div class="container container-main">
        <nav class="navbar navbar-expand-lg navbar-light nav-central">
          <a class="navbar-brand" href="../views/index.html">
              <img src="../src/assets/logotipo1.svg">
          </a>
          <a class="btn button button-primary-outline btn-login btn-app" href="https://play.google.com/store/apps/details?id=juntos.campus.usecorp" target="_blank">
            <div>
              <i class="fab fa-google-play"></i>
            </div>
            <div>
              <span>Disponível no</span>
              <span class="d-block"><b>GOOGLE PLAY</b></span>
            </div>
          </a>
      </nav>
    </div>
  </div>
  <!-- ============= //HEADER/NAVBAR LOGIN ================ -->

    <!-- ============= POLÍTICA DE PRIVACIDADE ================ -->
    <div id="politica-termos">
        <div class="container">
            <div class="row row-main">
                <h2>Termos e Condições de Uso</h2>
                <p>
                    Estes termos de uso se aplicam a todos os serviços oferecidos pela COSMO SOFTWORKS DESENVOLVIMENTO DE SOFTWARES LTDA, pessoa jurídica de direito privado com sede na Avenida Fernando Costa, n.° 558, Centro, na Cidade de Itanhandu, Estado de Minas Gerais, inscrita no CNPJ/MF sob n.º 23.171.476/0001-90, proprietária e responsável pela operação do aplicativo USECORP, nestes termos simplesmente denominado 'USECORP'. O USECORP e o USUÁRIO, celebram o presente CONTRATO DE LICENCIAMENTO DE SOFTWARE – doravante denominada CONTRATO DE LICENCIAMENTO DE SOFTWARE, que define as condições pelas quais o USUÁRIO poderá acessar e utilizar as funcionalidades do sistema de propriedade do USECORP (o 'PORTAL/APLICATIVO'), disponibilizado em ambiente web e seu uso limitado às presentes condições de licenciamento, sendo o USECORP e USUÁRIO doravante denominados Partes.
                    <br><br>
                    Neste ato representada na forma de seu CONTRATO SOCIAL, a seguir denominada COSMO SOFTWORKS; USUÁRIO, pessoa física que adquire a licença de uso do Software de computador e demais serviços deste CONTRATO, mediante aceitação por meio eletrônico, a seguir denominada, simplesmente, USUÁRIO. Em conjunto, COSMO SOFTWORKS e USUÁRIO denominadas 'Partes' e, isoladamente, 'Parte', dão forma regular e estável ao presente CONTRATO DE LICENCIAMENTO DE SOFTWARE e PRESTAÇÃO DE SERVIÇOS DE TECNOLOGIA DA INFORMAÇÃO ('CONTRATO'), mediante adesão por meio eletrônico.
                    <br><br>
                    <b>1. TERMOS GERAIS</b>
                    <br><br>
                    <b>1.2</b> A COSMO SOFTWORKS é exclusiva detentora dos direitos autorais sobre o aplicativo USECORP, podendo usar, fruir, gozar e dispor destes, especialmente para incremento tecnológico, alteração de versões, acordos comerciais, campanhas promocionais, dentre outras funcionalidades ou serviços que possam ser agregados, de forma onerosa ou gratuita.
                    <br><br>
                    <b>1.3</b> A relação jurídica estabelecida entre as Partes não é uma relação de consumo, conforme artigo 2º do Código de Defesa do Consumidor, que dispõe acerca do conceito de consumidor.
                    <br><br>
                    <b>1.4</b> O USUÁRIO possui informação, independência e liberdade contratual que lhe permitem aderir ao presente CONTRATO e à POLÍTICA DE PRIVACIDADE do USECORP, e para disciplinar suas relações com a COSMO SOFTWORKS e sua cadeia de fornecedores de produtos e serviços, inclusive de natureza financeira.
                    <br><br>
                    <b>2. PROPRIEDADE INTELECTUAL</b>
                    <br><br>
                    O USUÁRIO não adquire, pelo presente instrumento, nenhum direito de propriedade intelectual ou outros direitos exclusivos, incluindo patentes, desenhos, marcas, direitos autorais ou direitos sobre informações confidenciais ou segredos de negócio, sobre ou relacionados ao USECORP ou nenhuma parte dele, além dos direitos expressamente licenciados ao mesmo sob o presente CONTRATO ou em qualquer outro CONTRATO mutuamente acordado por escrito que o USUÁRIO possa ter celebrado com a COSMO SOFTWORKS. Quaisquer direitos não expressamente concedidos sob o presente instrumento são exclusivamente reservados.
                    <br><br>
                    <b>3. LICENÇA DE USO DO SOFTWARE</b>
                    <br><br>
                    Sujeito aos termos e condições do presente instrumento, este CONTRATO concede ao USUÁRIO uma licença revogável, não exclusiva e intransferível para uso do aplicativo USECORP. O USUÁRIO não poderá utilizar e nem permitir o uso do aplicativo USECORP para uma outra finalidade que não seja o uso das partes relacionadas ao seu negócio. Esta licença não implica na capacidade de acessar outros softwares além daqueles originalmente localizados no USECORP. Em nenhuma hipótese o USUÁRIO terá acesso ao código fonte do aplicativo USECORP ora licenciado, por este se tratar de propriedade intelectual da COSMO SOFTWORKS.
                    <br><br>
                    <b>4. CONDIÇÕES GERAIS DA CONTRATAÇÃO</b>
                    <br><br>
                    OBJETO - Este CONTRATO tem por objeto o licenciamento de uso do(s) Software(s) e prestação de serviços da COSMO SOFTWORKS.
                    <br><br>
                    DIREITOS AUTORAIS - A COSMO SOFTWORKS é exclusiva proprietária e detentora dos direitos autorais sobre o USECORP, protegidos e regulados pela Lei 9.609/98.
                    <br><br>
                    <b>4.1</b> A infração aos direitos autorais da COSMO SOFTWORKS implica em indenização por perdas e danos na forma da lei.
                    <br><br>
                    <b>4.2</b> Dentre outras práticas ilegais, considera-se violação de direitos autorais da COSMO SOFTWORKS a utilização, modificação, comercialização ou integração desautorizada do USECORP.
                    <br><br>
                    <b>5. MARCAS E WEB/APLICATIVO</b>
                    <br><br>
                    Está proibida a utilização das marcas COSMO SOFTWORKS e USECORP, que incluem o nome, logotipo e signos, salvo mediante consentimento expresso da COSMO SOFTWORKS.
                    <br><br>
                    Estão reservados à COSMO SOFTWORKS todos os direitos autorais relativos ao web/aplicativo, desenho, programação, conteúdo, ficando expressamente proibida a reprodução, comunicação, distribuição e transformação dos referidos elementos protegidos, salvo mediante consentimento expresso da COSMO SOFTWORKS.
                    <br><br>
                    <b>6. LICENÇA DE USO - A licença de uso do Software pressupõe:</b>
                    <br><br>
                    <b>6.1</b> Conexão à internet para criação e ativação do acesso ao aplicativo.
                    <br><br>
                    <b>6.2</b> Conexão à internet para utilização de funcionalidades online.
                    <br><br>
                    <b>6.3</b> O respeito e adesão à POLÍTICA DE PRIVACIDADE do USECORP e os direitos fundamentais a privacidade, imagem e regras de preservação de dados, inclusive condições comerciais, pedidos, registros pessoais e cadastrais.
                    <br><br>
                    <b>6.4</b> A responsabilidade do USUÁRIO com relação aos dados transmitidos por meio do USECORP.
                    <br><br>
                    <b>6.5</b> A responsabilidade do USUÁRIO com relação às informações inseridas no USECORP.
                    <br><br>
                    <b>6.6</b> A responsabilidade do USUÁRIO por prejuízos que a COSMO SOFTWORKS venha a suportar em decorrência da relação desta com os usuários, obrigando-se a ressarci-la no montante dos prejuízos.
                    <br><br>
                    <b>6.7</b> A responsabilidade do USUÁRIO em informar sobre bloqueio ou restrições de uso do aplicativo USECORP, mediante comunicação imediata inequívoca comprometendo-se para tanto se utilizar de todos os meios possíveis para efetivar a referida comunicação à COSMO SOFTWORKS.
                    <br><br>
                    <b>6.8</b> A licença e os direitos decorrentes deste CONTRATO não podem ser transferidos a terceiros sem autorização expressa da COSMO SOFTWORKS.
                    <br><br>
                    <b>7. GARANTIA E VALIDADE</b>
                    <br><br>
                    <b>7.1</b> A má utilização do aplicativo USECORP resultará na perda da garantia e acesso ao aplicativo.
                    <br><br>
                    <b>7.2</b> Dentro do prazo de validade técnica, conforme a vigência contratual, a COSMO SOFTWORKS garante a prestação de serviços relativos ao adequado funcionamento do aplicativo USECORP.
                    <br><br>
                    <b>7.3</b> O USECORP será considerado adequado desde que suficiente na utilização para os fins a que se destina segundo suas especificações técnicas.
                    <br><br>
                    <b>7.4</b> O USUÁRIO se responsabiliza por manter hardware, conexão à internet e demais softwares nos padrões estabelecidos pelos seus fornecedores e adequados à tecnologia para que atendam as necessidades básicas de acesso ao aplicativo USECORP.
                    <br><br>
                    <b>7.5</b> Por tratar-se de bem móvel imaterial, sujeito a adaptações e incremento tecnológico, a COSMO SOFTWORKS não garante que ao aplicativo USECORP não apresentará erros, mas fará o possível para consertá-los caso ocorram.
                    <br><br>
                    <b>7.6</b> O USUÁRIO entende e aceita que está aderindo ao aplicativo USECORP e que este é sujeito a falhas, atualizações de versões, alterações de layout e outras inconsistências comuns ao tipo e nível de sistema utilizado tanto quanto a maturidade do mesmo.
                    <br><br>
                    <b>7.7</b> Serviços presenciais, customizações e integrações com outros sistemas, não fazem parte do serviço padrão oferecido neste CONTRATO.
                    <br><br>
                    <b>8. RESPONSABILIDADE</b>
                    <br><br>
                    As Partes reconhecem e declaram que a responsabilidade pelo uso do aplicativo USECORP é de meios e não de resultado, limitada às seguintes disposições:
                    <br><br>
                    <b>8.1</b> Obrigações da COSMO SOFTWORKS – A COSMO SOFTWORKS desenvolve e licencia softwares e se responsabiliza pela qualidade dos mesmos e de seus profissionais, nos termos da Lei e dos CONTRATOS que estabelece com seus USUÁRIOs.
                    <br><br>
                    <b>8.2</b> Âmbito de atuação da COSMO SOFTWORKS - A COSMO SOFTWORKS não intermedeia, não edita, não audita, não fiscaliza e não monitora o uso do aplicativo USECORP e relações entre os seus USUÁRIOs e Usuários, salvo para fins técnicos e estatísticos, sem divulgação ou registro da identidade dos Usuários. Suas soluções, simplesmente, contribuem como instrumento ou meio de comunicação, com tecnologia e profissionais qualificados.
                    <br><br>
                    <b>8.3</b> Mau uso - A COSMO SOFTWORKS não se responsabiliza por danos decorrentes de mau uso ou inabilidade do USUÁRIO em transmitir, receptar, inserir e extrair informações do aplicativo USECORP. A COSMO SOFTWORKS, igualmente não é responsável pela interpretação que a USUÁRIO fizer da legislação fiscal-tributária, uso do aplicativo USECORP e Informações do Negócio nela inseridas.
                    <br><br>
                    <b>8.4</b> Integração - A COSMO SOFTWORKS não se responsabiliza pela integração desautorizado do USECORP com outros softwares e/ou com o ambiente computacional do USUÁRIO que possam gerar ineficiência ou distorções de dados.
                    <br><br>
                    <b>8.5</b> Back-Up – A COSMO SOFTWORKS é responsável pela manutenção, preservação e back-up de seus dados.
                    <br><br>
                    <b>8.6</b> Fato de Terceiro - Para fins deste CONTRATO, as Partes reconhecem que o USECORP é segura, todavia, assim como ocorre em outros ambientes virtuais, está sujeito a ameaças e violação criminosa, sendo estas causas excludentes da responsabilidade das Partes. Ainda, as tecnologias web são suportadas por serviços de comunicação, tais como, internet e rede de telecomunicações, não oferecidos pela COSMO SOFTWORKS e que podem impactar no desempenho do aplicativo USECORP, sendo estes fatos de terceiros, excludentes da responsabilidade das Partes.
                    <br><br>
                    <b>8.7</b> Data Center - A COSMO SOFTWORKS poderá contratar infraestrutura de Data Center junto a terceiros.
                    <br><br>
                    <b>8.8</b> Informação – O USUÁRIO deverá notificar imediatamente a COSMO SOFTWORKS de qualquer informação que receber sobre a segurança do aplicativo USECORP, incluindo informação confirmada ou não confirmada sobre eventos adversos, graves ou inesperados associados com o uso do mesmo.
                    <br><br>
                    <b>8.9</b> Caso Fortuito ou Força Maior - As Partes não responderão por prejuízos resultantes de caso fortuito ou força maior, nos termos do Artigo 393, do Código Civil.
                    <br><br>
                    <b>8.10</b> Exemplos de Caso Fortuito ou Força Maior - dentre outros, são exemplos de Caso Fortuito ou Força Maior que excluem a responsabilidade das Partes, os seguintes eventos:
                    <br><br>
                    <b>8.10.1</b> Falhas decorrentes de um fato ou impedimento além do controle razoável das Partes.
                    <br><br>
                    <b>8.10.2</b> Atos ou fatos cuja inconformidade as Partes não poderiam razoavelmente esperar ou levar em conta no momento da conclusão do CONTRATO.
                    <br><br>
                    <b>8.10.3</b> Fatos que as Partes não poderiam razoavelmente ter evitado ou superado seus efeitos, inclusive ações maliciosas, intervenção de softwares de terceiros, antivírus, firewall, proxy, dentre outros.
                    <br><br>
                    <b>8.10.4</b> Guerra (declarada ou não), conflitos armados ou ameaça grave destes, ataque hostil, bloqueio, embargo militar, invasão, ato de inimigo estrangeiro, guerra civil, rebelião, motim e revolução, comoção ou desordem, violência de multidão ou ato de desobediência civil.
                    <br><br>
                    <b>8.10.5</b> Ato de sabotagem, terrorismo ou pirataria, inclusive pirataria virtual.
                    <br><br>
                    <b>8.10.6</b> Ato de autoridade, regulação, expropriação ou aquisição compulsória.
                    <br><br>
                    <b>8.10.7</b> Fatos da natureza, pestes, epidemia, desastres naturais como tempestade, ciclone, tufão, furacão, relâmpago, tornado, tempestade violenta, terremoto, atividades vulcânicas; deslizamento de terras, maremoto, tsunami, inundação, danos ou destruição pela seca.
                    <br><br>
                    <b>8.10.8</b> Explosão, incêndio, raio, destruição de máquinas, equipamentos, fábricas, e de qualquer tipo de instalação, break-down de transportes, telecomunicações ou de corrente elétrica.
                    <br><br>
                    <b>8.10.9</b> Perturbação geral no trabalho, como boicote, greve, lock-out, ocupação de fábricas e instalações.
                    <br><br>
                    <b>9. VIGÊNCIA CONTRATUAL E PRORROGAÇÃO DO CONTRATO</b>
                    <br><br>
                    <b>9.1.</b> Este CONTRATO entra em vigor na data da sua assinatura eletrônica ou adesão e vigerá pelo prazo de um (1) ano. Caso as Partes não se manifestem até trinta (30) dias antes do vencimento do CONTRATO o mesmo será prorrogado por igual período visando proteger a função social do contrato. Após cinquenta (50) dias antes do vencimento do contrato a USUÁRIO será informada sobre o vencimento as condições propostas pela COSMO SOFTWORKS.
                    <br><br>
                    <b>9.2.</b> O CONTRATO poderá ser rescindido de pleno direito nos casos de falência, recuperação judicial, extrajudicial ou liquidação.
                    <br><br>
                    <b>10. MANIFESTAÇÃO DE VONTADE</b>
                    <br><br>
                    As cláusulas deste CONTRATO foram lidas e revisadas por pessoa capaz e sua assinatura ou adesão pressupõe a assunção da totalidade das obrigações nele previstas. As Partes reconhecem que este CONTRATO é celebrado livremente e de comum acordo, e suas condições são proporcionais, não existindo vícios ou defeitos que possam acarretar a sua nulidade, em especial relacionados com dolo, erro, fraude, simulação ou coação, inexistindo qualquer fato que possa ser configurado como estado de perigo ou de necessidade.
                    <br><br>
                    <b>11. DISPONIBILIDADE DE DIREITOS</b>
                    <br><br>
                    A abstenção do exercício de quaisquer direitos ou faculdades ou a concordância com atrasos no cumprimento de obrigações serão considerados atos de liberalidade, não configurando novação ou alteração de condições contratuais.
                    <br><br>
                    <b>12. SIGILO DE INFORMAÇÕES</b>
                    <br><br>
                    <b>12.1.</b> As Partes deverão observar a POLÍTICA DE PRIVACIDADE do USECORP.
                    <br><br>
                    <b>12.2.</b> Este CONTRATO possui dados e informações que devem ser preservados em sigilo, sob pena de responsabilidade.
                    <br><br>
                    <b>12.3.</b> É vedado o acesso não autorizado aos códigos-fonte do aplicativo USECORP, sob pena de indenização e multa de cinco (5) vezes o valor do contrato por parte do infrator sem prejuizo das demais sanções legais pertinentes.
                    <br><br>
                    <b>12.4.</b> O USUÁRIO permite, de acordo com a POLÍTICA DE PRIVACIDADE, que dados sejam transmitidos por meio do aplicativo USECORP, para atender funcionalidades específicas, ações comerciais, promocionais e financiamento de operações.
                    <br><br>
                    <b>12.5.</b> Em caso de fusão, aquisição ou venda de participação societária pela COSMO SOFTWORKS, os dados, em sua totalidade, poderão ser transferidos ao terceiro envolvido com prévia comunicação de trinta (30) dias à USUÁRIO.
                    <br><br>
                    <b>13. INDENIZAÇÃO E MULTA</b>
                    <br><br>
                    A violação das obrigações previstas neste CONTRATO resultará ao infrator o dever de indenizar por perdas e danos, além de multa de cinco (5) vezes o valor do contrato sem prejuízo das demais sansões legais, conforme as circunstâncias do caso.
                    <br><br>
                    <b>14. INDEPENDÊNCIA DAS DISPOSIÇÕES</b>
                    <br><br>
                    Caso qualquer cláusula deste CONTRATO seja julgada inválida, nula ou inaplicável por qualquer juízo competente, as demais cláusulas permanecerão válidas e em pleno vigor, como se tal invalidade, nulidade ou inaplicabilidade não tivesse ocorrido.
                    <br><br>
                    <b>15. TOLERÂNCIA</b>
                    <br><br>
                    Qualquer tolerância entre as Partes com relação a inadimplemento ou não cumprimento de obrigação, cláusula, termo ou condição aqui estabelecida, não constitui precedente, renúncia a obrigações, emenda ou novação ao CONTRATO, os quais somente se operam mediante acordo escrito entre as partes.
                    <br><br>
                    <b>16. VINCULAÇÃO DAS PARTES E SUCESSORES</b>
                    <br><br>
                    Pelas obrigações previstas neste CONTRATO ficam vinculadas as Partes, seus herdeiros ou sucessores, a qualquer título e a qualquer tempo, de forma irretratável e irrevogável.
                    <br><br>
                    <b>17. DO FORO</b>
                    <br><br>
                    Fica eleito o foro de Brasília - Distrito Federal, para dirimir quaisquer dúvidas relativas ao cumprimento deste instrumento.
                </p>
            </div>
        </div>
    </div>
    <!-- ============= //POLÍTICA DE PRIVACIDADE ============== -->


    <!-- =============== SEÇÃO NEWSLETTER ================ -->
    <div id="newsletter">
      <div class="container">
          <div class="row row-main text-center newsletter-form">
          <h2>Newsletter</h2>
          <p>Fique por dentro e descubra as vantagens do aluguel de equipamentos!</p>
          <form>
              <div class="d-md-flex justify-content-center align-items-center">
              <input type="email" name="email" class="form-control me-md-2" placeholder="coloque aqui o seu melhor email :)">
              <button type="submit" class="btn btn-primary button button-primary">Enviar</button>
              </div>
          </form>
          
          </div>
      </div>
      </div>
      <!-- ============= //SEÇÃO NEWSLETTER ================ -->


      <!-- =============== SEÇÃO CONTATO ================ -->
      <div id="contato">
        <div class="container container-main">
          <div class="row row-main">
            <div class="col-sm-5 col-main text-contato">
              <h2>Contato</h2>
              <p>usecorp@usecorp.co</p>
              <p>+55 11  97112-7233</p>
              <p>Rua Dr. Antônio Bento, Nº 560 conjunto 704<br>
                Alto da Boa Vista<br>
                São Paulo/SP, CEP 04.750-001</p>
              <div class="d-inline-block">
                <a href="https://www.linkedin.com/company/usecorp-co/">
                  <img src="../src/assets/Vector.svg" class="img-fluid">
                </a>
                <a href="https://www.instagram.com/usecorp.co/">
                  <img src="../src/assets/Artwork 8 2.svg" class="img-fluid">
                </a>
              </div>
            </div>
            <div class="col-sm-5 col-main form-contato">
              <form>
                <input type="text" name="name" class="form-control" placeholder="nome">
                <input type="email" name="email" class="form-control" placeholder="e-mail">
                <input type="tel" name="tel" class="form-control" placeholder="tel: (00) 00000-0000">
                <textarea name="mensagem" class="form-control" cols="30" rows="5" placeholder="digite aqui sua mensagem"></textarea>
                <button type="submit" class="btn btn-primary button button-secondary mb-2">Enviar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- ============= //SEÇÃO CONTATO ================ -->

      <!-- =============== RODAPÉ ================ -->
      <div id="rodape">
        <div class="container container-main">
          <div class="row row-main ">
            <div>
              <img src="../src/assets/icone-2.svg" alt="" class="img-fluid">
            </div>
            <div>
              <span><a href="politica-privacidade.html">Política de Privacidade</a> e <a href="termos.html">Termos e Condições de Uso</a>.</span>
            </div>
          </div>
        </div>
      </div>
      <!-- =============== RODAPÉ ================ -->


      <!-- =============== SCROLL BUTTON ================ -->
      <div id="btn-scroll">
        <a class="btn btn-scroll-up"><i class="fas fa-chevron-up"></i></a>
      </div>
      <!-- ============= //SCROLL BUTTON ================ -->


      <!-- ======== JQUERY ========= -->
      <script src="../src/js/jquery-2.2.2.min.js"></script>
      <!-- ======== //JQUERY ========= -->

      <!-- ======== JS BOOTSTRAP ========= -->
      <script src="../src/js/bootstrap.min.js"></script>
      <!-- ======== //JS BOOTSTRAP ========= -->

    

      <script src="../src/js/main.js"></script>
    
</body>
</html>