:root{
    --blue-original: #01445C;
    --blue-4: #758396;
    --blue-5: #F0F0F3;
    --yellow-original: #EAA821;
    --yellow-3: #FFF4E7;
    --light: #F0F0F3;
    --medium: #cacaca;
    --dark: #a2a2a2;
    font-size: initial;
}